.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.container-left {
  display: block;
  width: 50%;
  height: 600px;
  min-width: 0px;
  margin-right: auto;
  margin-left: 0px;
  padding-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.hero-left {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.section {
  display: block;
  width: 100%;
  max-height: 0px;
  float: none;
  clear: both;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.contanier-right {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  overflow: visible;
  width: 50%;
  height: 600px;
  max-height: 600px;
  max-width: 1000px;
  min-height: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.navmenu {
  position: absolute;
  left: auto;
  top: 0%;
  right: 16%;
  bottom: 0%;
  z-index: 9;
  display: block;
  width: 300px;
  max-height: 50px;
  margin-right: -102px;
  margin-left: 0px;
  padding: 40px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style-type: none;
}

.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-item-1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.list-item-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  list-style-type: none;
}

.list-item-3 {
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.list-item-4 {
  width: 100%;
}

.link-2 {
  display: block;
  padding-right: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  text-decoration: none;
}

.link-3 {
  padding-right: 20px;
}

.big-bubble {
  position: absolute;
  left: auto;
  top: -104px;
  right: -179px;
  bottom: 0%;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 700px;
  height: 700px;
  min-height: 500px;
  min-width: 500px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #304573;
  border-radius: 100%;
  background-color: #304573;
}

.little-bubble {
  position: absolute;
  left: 424px;
  top: 101px;
  right: 0%;
  bottom: auto;
  width: 500px;
  height: 500px;
  border-style: solid;
  border-width: 1px;
  border-color: #304573;
  border-radius: 100%;
  background-color: #304573;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  clear: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.heading {
  position: relative;
  left: 0%;
  top: 40px;
  right: 180px;
  display: block;
  overflow: visible;
  width: 400px;
  height: 200px;
  margin-left: 60px;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.logo {
  position: relative;
  top: 20px;
  bottom: auto;
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-left: 60px;
}

.heading-2 {
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.bubble-image {
  position: relative;
  top: 220px;
  right: 181px;
  display: block;
  max-width: 100%;
}

.section2 {
  position: static;
  display: block;
  width: 100%;
  height: 700px;
}

.subheading {
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}

.text-field {
  width: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: #cb2427;
  border-radius: 5px;
}

.submit-button {
  width: 350px;
  border: 1px none #000;
  border-radius: 5px;
  background-color: #cb2427;
}

.gdpr-check {
  width: 350px;
  padding-top: 11px;
}

.check-radio-gdpr {
  border-style: solid;
  border-width: 1px;
  border-color: #cb2427;
}

.gdpr-text {
  border-style: none;
  border-color: #cb2427;
  font-family: Lato, sans-serif;
  color: #cb2427;
  font-weight: 400;
}

.section-2 {
  position: static;
  top: 174px;
  display: block;
  width: 100%;
  padding-top: 220px;
  padding-bottom: 60px;
  clear: both;
}

.heading-3 {
  position: static;
  top: 58px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 200px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: left;
}

.heading-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: Lato, sans-serif;
  font-weight: 400;
  text-align: center;
}

.columns {
  display: block;
}

.div-block-3 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  clear: none;
}

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.feature-p {
  padding-top: 15px;
  font-family: Lato, sans-serif;
  color: #212222;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.bold-text {
  width: 100px;
  padding-right: 20px;
  padding-left: 20px;
}

.section-3 {
  width: 100%;
  padding-top: 25px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-4 {
  display: inline-block;
  width: 40%;
  height: 400px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.testimonials {
  display: inline-block;
  width: 40%;
  height: 400px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading-6 {
  position: static;
  display: block;
  width: 100%;
  font-family: Lato, sans-serif;
  color: #cb2427;
  font-weight: 400;
  text-align: right;
}

.slide-nav {
  display: none;
}

.icon {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: 0px;
  margin-left: auto;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #304573;
  border-radius: 100%;
  background-color: #304573;
  font-family: Lato, sans-serif;
  font-size: 25px;
  text-align: center;
}

.icon-2 {
  display: none;
  overflow: visible;
}

.testimonial-arrow {
  left: auto;
  top: 0%;
  right: -140px;
  bottom: 0%;
}

.testimonial-1 {
  position: relative;
  left: -92px;
  width: 50%;
  padding-top: 36px;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  font-family: Lato, sans-serif;
  color: #212222;
  font-weight: 300;
}

.left-arrow {
  display: none;
}

.mask-testimonials {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  background-color: #fff;
}

.block-quote {
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 0px;
  border: 1px none #000;
}

.testimonial-2 {
  position: relative;
  left: 0px;
  width: 50%;
  padding-top: 36px;
  padding-right: 0px;
  padding-left: 51px;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.section-4 {
  width: 100%;
  margin-top: 0px;
}

.media-coverage {
  position: static;
  display: block;
  width: 40%;
  height: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
  float: right;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.heading-7 {
  font-family: Lato, sans-serif;
  color: #cb2427;
  font-weight: 400;
}

.right-arrow-2 {
  display: none;
}

.media-arrow {
  left: -200px;
}

.media-1 {
  width: 50%;
  background-color: #fff;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.slide-nav-2 {
  display: none;
}

.media-2 {
  left: 110px;
  width: 50%;
  background-color: #fff;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.paragraph {
  font-size: 18px;
}

.media-image {
  max-width: 60%;
  padding-bottom: 20px;
}

.mask-media {
  padding-top: 70px;
  background-color: #fff;
}

.article-link {
  display: block;
  padding-top: 12px;
  color: #cb2427;
  font-weight: 400;
  text-decoration: none;
}

.text-block {
  color: #212222;
  font-size: 15px;
  font-style: italic;
  text-align: left;
}

.section-5 {
  position: static;
  top: -369px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  min-height: 0px;
  padding-top: 100px;
  padding-bottom: 20px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.footer-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  float: left;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-social {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.list-2 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 110px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  list-style-type: none;
}

.social-icons {
  display: block;
  margin-right: 100px;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: left;
}

.social-icon {
  padding-left: 25px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.footer-path {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  overflow: visible;
  width: 100%;
  max-width: 100%;
  clear: none;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-5 {
  position: absolute;
  left: -6px;
  top: 1726px;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: url('../images/footer.png');
  background-position: 0px 0px;
  background-size: cover;
}

.image-4 {
  position: absolute;
  left: -1px;
  top: 1798px;
  width: 100%;
  margin-top: 0px;
  padding-top: 0px;
}

.section-6 {
  width: 100%;
}

.div-block-6 {
  position: static;
  top: -74px;
  display: block;
  overflow: visible;
  width: 100%;
  margin-right: auto;
  padding-left: 0px;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.bubbles {
  position: static;
  width: 40%;
  height: 400px;
  float: right;
}

.image-5 {
  position: static;
  left: 655.812px;
  top: 1448px;
  width: 180px;
  margin-top: 127px;
  margin-left: 118px;
}

.bubble2 {
  width: 40%;
  height: 400px;
  float: left;
}

.bubble {
  position: relative;
  left: 147px;
  top: 192px;
  right: 0px;
}

.path {
  overflow: hidden;
  width: 100%;
  height: 200px;
}

.image-6 {
  position: absolute;
  top: 1918px;
  overflow: visible;
  width: 100%;
}

.little {
  position: absolute;
  left: -185px;
  top: 216px;
  width: 500px;
  height: 500px;
  max-width: 500px;
  border: 1px none #000;
  border-radius: 100%;
  background-color: #304573;
}

.header {
  display: block;
  min-height: 180px;
  background-color: #304573;
}

.div-block-7 {
  display: block;
  width: 500px;
  height: 100px;
  margin-top: 40px;
  margin-left: 100px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-8 {
  width: 300px;
  height: 100px;
  margin-top: 40px;
  float: right;
}

.titles {
  padding: 100px 40px 60px;
}

.token-type {
  padding-right: 40px;
  padding-left: 40px;
  border-bottom: 1px none #dad4d4;
  opacity: 1;
}

.details {
  display: block;
  padding: 60px 130px 97px 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #bdbcbc;
}

.security {
  padding-left: 60px;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 35px;
}

.register-token {
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-left: 15px;
  font-family: Lato, sans-serif;
  color: #212222;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

.selection-type {
  padding-top: 60px;
  border-style: none;
  border-color: #000;
}

.select-debt {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 60px;
  float: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 25px;
  text-align: left;
}

.radio-button-label {
  margin-bottom: 0px;
  padding-right: 40px;
  padding-left: 15px;
  font-family: Lato, sans-serif;
  color: #cb2427;
  font-size: 20px;
  font-weight: 400;
}

.token-type-radio {
  width: 20px;
  height: 20px;
  margin-top: 0px;
  border: 1px solid #cb2427;
  border-radius: 20px;
  font-size: 36px;
  line-height: 36px;
  cursor: pointer;
}

.token-type-radio:hover {
  background-color: #cb2427;
}

.token-type-radio:active {
  background-color: transparent;
}

.token-type-radio.w--redirected-checked {
  border-style: none;
  border-color: #cb2427;
  border-radius: 100%;
  background-color: #cb2427;
}

.token-type-radio.w--redirected-focus {
  border-style: solid;
  border-color: #cb2427;
  box-shadow: none;
}

.radio-button-field {
  display: inline-block;
}

.radio-button-field-2 {
  display: inline-block;
  padding-right: 0px;
}

.radio-button-field-3 {
  display: inline-block;
}

.fields-debt-details {
  display: block;
  overflow: visible;
  width: 800px;
  height: 950px;
  min-width: 700px;
  padding-top: 0px;
  padding-bottom: 45px;
  float: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: hsla(0, 0%, 78.4%, 0.2);
  opacity: 1;
  text-align: left;
}

.column-3 {
  display: inline-block;
}

.form-2 {
  display: block;
}

.form-block {
  padding-left: 60px;
  float: left;
}

.iconsolidkey {
  width: 26px;
  margin-top: -13px;
  margin-left: 56px;
}

.div-block-10 {
  margin-left: 50px;
  padding-left: 140px;
  border-bottom: 1px solid #000;
}

.side-debt-details {
  display: block;
  overflow: hidden;
  width: 300px;
  height: 950px;
  float: left;
  background-color: hsla(0, 0%, 78.4%, 0.2);
  opacity: 1;
}

.details-label-type {
  padding-bottom: 27px;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.dropdown-toggle {
  width: 150px;
  height: 40px;
  border: 1px solid #334875;
  border-radius: 5px;
}

.text-block-3 {
  margin-top: -10px;
  font-family: Lato, sans-serif;
  color: #cb2427;
  font-weight: 400;
}

.icon-3 {
  background-color: transparent;
  color: #cb2427;
}

.div-block-11 {
  display: block;
  padding-top: 100px;
  padding-bottom: 60px;
  padding-left: 60px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-12 {
  display: inline-block;
  padding-left: 122px;
}

.div-block-13 {
  display: inline-block;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
  padding-left: 60px;
}

.text-field-2 {
  display: inline-block;
  width: 150px;
  margin-left: 19px;
  padding-right: 12px;
  border: 1px solid #334875;
  border-radius: 5px;
  background-color: transparent;
  color: #cb2427;
}

.text-field-3 {
  display: block;
  width: 80px;
  border: 1px solid #334875;
  border-radius: 5px;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #cb2427;
  text-align: left;
}

.text-block-4 {
  display: inline-block;
}

.div-block-15 {
  display: inline-block;
}

.text-block-5 {
  position: static;
  display: inline-block;
  margin-top: 21px;
  margin-left: -130px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.dropdown-link {
  padding-bottom: 10px;
  background-color: hsla(0, 0%, 78.4%, 0.1);
  opacity: 1;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.dropdown-list {
  background-color: transparent;
}

.form-3 {
  display: block;
}

.dropdown-toggle-2 {
  display: inline-block;
  width: 50px;
  margin-top: -24px;
  padding-left: 0px;
}

.text-block-6 {
  font-family: Lato, sans-serif;
  color: #cb2427;
  font-size: 14px;
  font-weight: 400;
}

.icon-4 {
  margin-right: 16px;
  color: #cb2427;
}

.dropdown-link-2 {
  padding-left: 0px;
  font-family: Lato, sans-serif;
  color: #cb2427;
  font-size: 14px;
}

.dropdown-list-2 {
  background-color: transparent;
}

.div-block-16 {
  display: inline-block;
}

.div-block-17 {
  display: inline-block;
  padding-left: 122px;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
  padding-left: 60px;
}

.dropdown-toggle-3 {
  width: 220px;
  height: 40px;
  border: 1px solid #334875;
  border-radius: 5px;
  background-color: transparent;
}

.text-block-7 {
  margin-top: -10px;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.icon-5 {
  color: #cb2427;
}

.dropdown-toggle-4 {
  width: 150px;
  height: 40px;
  border: 1px solid #334875;
  border-radius: 5px;
}

.text-block-8 {
  margin-top: -10px;
}

.text-field-4 {
  display: inline-block;
  width: 80px;
  height: 40px;
  margin-bottom: 0px;
  padding-right: 12px;
  padding-left: 12px;
  border: 1px solid #334875;
  border-radius: 5px;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.form-block-2 {
  display: block;
}

.text-block-9 {
  position: static;
  display: inline-block;
  margin-top: 26px;
  margin-left: -94px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.div-block-19 {
  display: inline-block;
}

.div-block-20 {
  display: inline-block;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
  padding-left: 60px;
}

.text-field-5 {
  display: inline-block;
  width: 80px;
  height: 40px;
  border: 1px solid #334875;
  border-radius: 5px;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.text-field-5::-webkit-input-placeholder {
  color: rgba(203, 36, 39, 0.4);
}

.text-field-5:-ms-input-placeholder {
  color: rgba(203, 36, 39, 0.4);
}

.text-field-5::-ms-input-placeholder {
  color: rgba(203, 36, 39, 0.4);
}

.text-field-5::placeholder {
  color: rgba(203, 36, 39, 0.4);
}

.text-field-6 {
  width: 80px;
  height: 40px;
  border: 1px solid #334875;
  border-radius: 5px;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.text-field-6::-webkit-input-placeholder {
  color: rgba(203, 36, 39, 0.4);
}

.text-field-6:-ms-input-placeholder {
  color: rgba(203, 36, 39, 0.4);
}

.text-field-6::-ms-input-placeholder {
  color: rgba(203, 36, 39, 0.4);
}

.text-field-6::placeholder {
  color: rgba(203, 36, 39, 0.4);
}

.div-block-22 {
  padding-left: 60px;
}

.button {
  display: block;
  width: 150px;
  height: 50px;
  margin-top: 0px;
  border-radius: 5px;
  background-color: #304573;
  background-image: url('../images/next-arrow-right2x.png');
  background-position: 85% 50%;
  background-size: 10px;
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
  font-size: 15px;
}

.button.button-create-token {
  background-image: none;
}

.text-span {
  display: block;
  padding-top: 6px;
  text-align: left;
}

.heading-8 {
  display: block;
  float: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
}

.heading-9 {
  display: block;
  float: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 300;
}

.list-3 {
  display: block;
  margin-right: 0px;
  padding-top: 40px;
  padding-left: 0px;
  float: none;
  list-style-type: none;
}

.list-item-5 {
  display: inline-block;
}

.list-item-6 {
  display: inline-block;
}

.list-item-7 {
  display: inline-block;
}

.link-4 {
  padding-right: 29px;
  padding-left: 32px;
  background-image: url('../images/iconssolidhome2x.png');
  background-position: 0% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.link-5 {
  padding-left: 32px;
  background-image: url('../images/iconssolidsign-out-alt2x.png');
  background-position: 0% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.dropdown-list-3 {
  color: transparent;
}

.dropdown-list-3.w--open {
  background-color: hsla(0, 0%, 78.4%, 0.1);
  font-family: Lato, sans-serif;
  color: transparent;
}

.dropdown-link-3 {
  background-color: hsla(0, 0%, 78.4%, 0.1);
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.div-block-23 {
  padding-top: 100px;
  padding-right: 60px;
}

.text-block-10 {
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 20px;
  font-weight: 700;
}

.debt-details-page-side-menu {
  padding-left: 32px;
  background-image: url('../images/oval-selected2x.png');
  background-size: 22px;
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.image-7 {
  height: 30px;
  opacity: 0.5;
}

.div-block-24 {
  margin-top: -2px;
  margin-left: 10px;
}

.link-7 {
  padding-left: 32px;
  background-image: url('../images/oval-not-selected2x.png');
  background-position: 2% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.div-block-25 {
  margin-top: 0px;
}

.dropdown {
  display: none;
}

.select-field {
  display: inline-block;
  width: 200px;
  border: 1px solid #334875;
  border-radius: 5px;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.select-field-2 {
  display: inline-block;
  width: 50px;
  padding-right: 0px;
  padding-left: 0px;
  border: 1px none #334875;
  font-family: Lato, sans-serif;
  color: #cb2427;
  font-size: 18px;
}

.select-field-3 {
  display: inline-block;
  width: 220px;
  border: 1px solid #334875;
  border-radius: 5px;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.text-block-11 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 28px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.text-field-7 {
  display: inline-block;
}

.text-block-12 {
  display: inline-block;
  margin-left: 28px;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.radio-button {
  width: 20px;
  height: 20px;
  border-color: #cb2427;
  background-color: transparent;
  cursor: pointer;
}

.radio-button.w--redirected-checked {
  border-color: transparent;
  background-color: #cb2427;
}

.radio-button.w--redirected-focus {
  border-color: #cb2427;
  background-color: #cb2427;
  box-shadow: none;
}

.radio-button-label-2 {
  padding-top: 2px;
  padding-left: 13px;
  font-family: Lato, sans-serif;
  color: #cb2427;
  font-size: 18px;
  font-weight: 700;
}

.radio-button-field-4 {
  display: inline-block;
}

.radio-button-field-5 {
  display: inline-block;
  padding-left: 45px;
}

.radio-button-2 {
  width: 20px;
  height: 20px;
  border-color: #cb2427;
  cursor: pointer;
}

.radio-button-2.w--redirected-checked {
  border-width: 1px;
  border-color: #cb2427;
  background-color: #cb2427;
}

.radio-button-2.w--redirected-focus {
  box-shadow: none;
}

.radio-button-label-3 {
  padding-top: 3px;
  padding-left: 13px;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #cb2427;
  font-size: 18px;
  font-weight: 700;
}

.radio-button-field-6 {
  display: inline-block;
  padding-left: 45px;
}

.radio-button-3 {
  width: 20px;
  height: 20px;
  border: 1px solid #cb2427;
  cursor: pointer;
}

.radio-button-3.w--redirected-checked {
  border-width: 1px;
  border-color: #cb2427;
  background-color: #cb2427;
}

.radio-button-3.w--redirected-focus {
  box-shadow: none;
}

.radio-button-label-4 {
  padding-top: 3px;
  padding-left: 13px;
  font-family: Lato, sans-serif;
  color: #cb2427;
  font-size: 18px;
  font-weight: 700;
}

.div-block-26 {
  display: inline-block;
}

.div-block-27 {
  display: block;
}

.link-token-details {
  padding-left: 32px;
  background-image: url('../images/oval-selected2x.png');
  background-position: 0% 50%;
  background-size: 22px;
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.link-token-transfer {
  padding-left: 32px;
  background-image: url('../images/oval-not-selected2x.png');
  background-position: 2% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.columns-2 {
  width: auto;
  height: auto;
  padding-bottom: 42px;
  background-color: hsla(0, 0%, 78.4%, 0.2);
}

.simple-button {
  display: block;
  width: 150px;
  height: 50px;
  margin-top: 0px;
  border-radius: 5px;
  background-color: #304573;
  font-family: Lato, sans-serif;
  font-size: 15px;
  text-align: left;
}

.simple-button.button-create-token {
  background-image: none;
}

.next-text {
  display: block;
  padding-top: 6px;
  text-align: left;
}

.create-token-text {
  display: block;
  padding-top: 6px;
  text-align: center;
}

.token-symbol-label {
  padding-bottom: 27px;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.number-of-tokens-label {
  padding-bottom: 27px;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.number-of-tokens-input {
  display: inline-block;
  width: 80px;
  padding-right: 12px;
  border: 1px solid #334875;
  border-radius: 5px;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.token-symbol-input {
  width: 80px;
  border: 1px solid #334875;
  border-radius: 5px;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.terms-condition-text {
  display: inline-block;
  margin-left: 28px;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.debt-details-td-side-menu {
  padding-left: 32px;
  background-image: url('../images/checked-oval2x.png');
  background-size: 22px;
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.token-details {
  padding-left: 32px;
  background-image: url('../images/oval-not-selected2x.png');
  background-position: 2% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.token-details-tk-side-menu {
  padding-left: 32px;
  background-image: url('../images/oval-selected2x.png');
  background-position: 0% 50%;
  background-size: 22px;
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.div-block-28 {
  margin-top: -2px;
  margin-left: 10px;
  padding-top: 0px;
}

.image-8 {
  height: 340px;
  opacity: 0.5;
}

.token-transfer-tk-side-menu {
  padding-left: 32px;
  background-image: url('../images/oval-not-selected2x.png');
  background-position: 2% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.div-block-29 {
  padding-bottom: 60px;
  padding-left: 60px;
}

.terms-condition-radio-field {
  width: 400px;
}

.radio-button-label-5 {
  margin-top: 2px;
  margin-bottom: 5px;
  padding-left: 10px;
  font-family: Lato, sans-serif;
  color: #cb2427;
  font-weight: 400;
}

.terms-condition-radio-button {
  width: 18px;
  height: 18px;
  border: 1px solid #cb2427;
  cursor: pointer;
}

.terms-condition-radio-button.w--redirected-checked {
  display: inline-block;
  border: 1px none #cb2427;
  background-color: #cb2427;
}

.terms-condition-radio-button.w--redirected-focus {
  box-shadow: none;
}

.success-message {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 32px;
  font-family: Lato, sans-serif;
  color: #427d15;
  font-weight: 700;
}

.success-message-box {
  margin-top: -9px;
  padding-top: 0px;
  background-image: url('../images/oval-green2x.png');
  background-position: 0% 50%;
  background-size: 22px;
  background-repeat: no-repeat;
}

.success-message-created {
  padding-left: 32px;
  font-family: Lato, sans-serif;
  color: #427d15;
  font-weight: 300;
}

.create-token-div {
  padding-bottom: 25px;
  padding-left: 60px;
}

.token-details-tt-side-menu {
  padding-left: 32px;
  background-image: url('../images/checked-oval2x.png');
  background-position: 0% 50%;
  background-size: 22px;
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.token-transfer-tt-side-menu {
  padding-left: 32px;
  background-image: url('../images/checked-oval2x.png');
  background-position: 0% 50%;
  background-size: 22px;
  background-repeat: no-repeat;
  opacity: 1;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.debt-details-tt-side-menu {
  padding-left: 32px;
  background-image: url('../images/checked-oval2x.png');
  background-size: 22px;
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.claim-text {
  display: block;
  padding-top: 6px;
  font-family: Lato, sans-serif;
  text-align: center;
}

.ready-distribution-button {
  height: 50px;
  border-radius: 5px;
  background-color: #304573;
}

.uniqu {
  padding-bottom: 27px;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  text-transform: uppercase;
}

.line-tt {
  height: 138px;
  opacity: 0.5;
}

.distribution-token-div {
  padding-top: 50px;
  padding-bottom: 25px;
  padding-left: 60px;
}

.claim {
  padding-left: 60px;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 35px;
}

.claim-titles-div {
  padding: 100px 40px 40px;
}

.claim-button {
  height: 50px;
  border-radius: 5px;
  background-color: #304573;
}

.unique-code-text {
  width: 350px;
  padding-bottom: 27px;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  text-transform: none;
}

.unique-code-input {
  width: 280px;
  border: 1px solid #334875;
  border-radius: 5px;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #cb2427;
}

.distribution-text {
  display: block;
  padding-top: 6px;
  font-family: Lato, sans-serif;
  text-align: center;
}

.validate-code-cyt-side-menu {
  padding-left: 32px;
  background-image: url('../images/oval-selected2x.png');
  background-size: 22px;
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.choose-wallet-cyt-side-menu {
  padding-left: 32px;
  background-image: url('../images/oval-not-selected2x.png');
  background-position: 2% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.existing-wallet-cyt-side-menu {
  padding-left: 32px;
  background-image: url('../images/oval-not-selected2x.png');
  background-position: 2% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.div-block-30 {
  margin-top: -2px;
  margin-left: 10px;
}

.trustline-cyt-side-menu {
  background-image: url('../images/oval-not-selected2x.png');
  background-position: 2% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
}

.existing-wallet-cyt-side-menu-copy {
  padding-left: 32px;
  background-image: url('../images/oval-not-selected2x.png');
  background-position: 2% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.div-block-31 {
  margin-top: -2px;
  margin-left: 10px;
}

.existing-wallet-cyt-side-menu-copy {
  padding-left: 32px;
  background-image: url('../images/oval-not-selected2x.png');
  background-position: 2% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.verify-cyt-side-menu {
  padding-left: 32px;
  background-image: url('../images/oval-not-selected2x.png');
  background-position: 2% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.claim-cyt-side-menu {
  padding-left: 32px;
  background-image: url('../images/oval-not-selected2x.png');
  background-position: 2% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.verify-cyt-side-menu-copy {
  padding-left: 32px;
  background-image: url('../images/oval-not-selected2x.png');
  background-position: 2% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.verify-cyt-side-menu-copy {
  padding-left: 32px;
  background-image: url('../images/oval-not-selected2x.png');
  background-position: 2% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;
  font-family: Lato, sans-serif;
  color: #304573;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 991px) {
  .button {
    width: 125px;
    height: 40px;
  }
  .simple-button {
    width: 125px;
    height: 40px;
  }
}

@media (max-width: 479px) {
  .container-left {
    display: block;
    width: 100%;
  }
  .contanier-right {
    display: block;
    width: 0%;
    max-width: 0px;
  }
  .navmenu {
    left: 0px;
    right: 0px;
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
    padding-top: 20px;
    background-color: #304573;
  }
  .list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }
  .list-item-3 {
    width: 100px;
  }
  .list-item-4 {
    width: 20%;
  }
  .link-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 13px;
    text-align: left;
  }
  .big-bubble {
    display: none;
  }
  .heading {
    position: static;
    right: 0px;
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    padding-top: 60px;
  }
  .logo {
    position: static;
    width: 100px;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 79px;
    padding-left: 22px;
  }
  .heading-2 {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 25px;
  }
  .subheading {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 15px;
    line-height: 20px;
  }
  .text-field {
    width: 100%;
  }
  .submit-button {
    width: 100%;
  }
  .gdpr-check {
    width: 100%;
  }
  .section-2 {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .heading-3 {
    width: 100%;
    height: 100%;
  }
  .heading-4 {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 22px;
  }
  .div-block-3 {
    display: block;
    height: 100%;
  }
  .features {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .image {
    width: 80px;
    max-width: 80px;
  }
  .image-2 {
    width: 80px;
    max-width: 80px;
  }
  .image-3 {
    width: 80px;
    max-width: 80px;
  }
  .feature-p {
    font-size: 15px;
    line-height: 18px;
  }
  .section-3 {
    padding-top: 0px;
  }
  .testimonials {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
  }
  .heading-6 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
  }
  .slide-nav {
    display: block;
  }
  .icon-2 {
    position: static;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .testimonial-arrow {
    display: block;
  }
  .testimonial-1 {
    position: static;
    width: 100%;
    padding-top: 0px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .left-arrow {
    position: static;
    display: none;
    overflow: visible;
    width: 100%;
    height: 100%;
  }
  .mask-testimonials {
    position: static;
    padding-top: 20px;
  }
  .block-quote {
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
  }
  .testimonial-2 {
    position: static;
    width: 100%;
    padding-top: 0px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .section-4 {
    height: 100%;
  }
  .media-coverage {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .heading-7 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 28px;
    text-align: center;
  }
  .media-arrow {
    display: none;
  }
  .media-1 {
    position: static;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
  }
  .media-2 {
    position: static;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
  }
  .paragraph {
    width: 100%;
    font-size: 15px;
  }
  .media-image {
    max-width: 50%;
  }
  .mask-media {
    position: static;
    width: 100%;
    height: 100%;
    padding-top: 40px;
  }
  .article-link {
    font-size: 13px;
  }
  .text-block {
    font-size: 13px;
  }
  .logo-image {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: block;
    width: 80px;
    max-width: 60px;
    margin-left: 10px;
    padding-right: 0px;
    text-align: left;
  }
  .section-5 {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #304573;
  }
  .footer-menu {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
    float: none;
    text-align: left;
  }
  .footer-social {
    display: block;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .list-2 {
    position: static;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: left;
  }
  .social-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-left: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .social-icon {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    text-align: left;
  }
  .bubbles {
    position: absolute;
    top: 1364px;
    width: 100px;
    height: 100px;
    margin-top: 24px;
    margin-right: 0px;
    margin-left: 201px;
    padding-right: 0px;
    padding-left: 19px;
  }
  .image-5 {
    position: static;
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
  .bubble2 {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
  }
  .bubble {
    position: static;
    display: block;
    width: 50%;
    margin-top: -303px;
    margin-left: 30px;
  }
  .path {
    display: none;
  }
  .image-6 {
    position: static;
    display: block;
  }
  .form {
    padding-right: 40px;
    padding-left: 40px;
  }
  .column {
    padding-bottom: 40px;
  }
  .column-2 {
    padding-bottom: 40px;
  }
  .slider {
    position: static;
    width: 100%;
    height: 100%;
  }
  .slider-2 {
    position: static;
    width: 100%;
    height: 100%;
    clear: none;
  }
}